<!DOCTYPE html>
<html>
    <head>
        <title>Angular Todo List</title>
        <meta charset="UTF-8">

        <script src="//code.angularjs.org/1.5.0-rc.2/angular.min.js"></script>
        <script src="//code.angularjs.org/1.5.0-rc.2/angular-route.min.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.4.js"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <script src="controller/listController.js"></script>
        <!-- <script src="controller/app.js"></script> -->
        
        <style>
            .done-true {
                text-decoration: line-through;
                color: grey;
                }
        </style>
    </head>
    
    <body ng-app="myTodo" ng-controller="todoCtrl" ng-init="title='My Todo List'">
        <h2>{{ title }}</h2>
        <current-date></current-date>
        
        <form ng-submit="add()">
            <span ng-show="!todoInput.length">Please enter your todo task!</span>
            <br>
            <input type="text" ng-model="todoInput" size="50" placeholder="Add New" required>
            <br>
            <input type="submit" value="Add New">
        </form>
        
        <script type="text/ng-template" id="lala.html">
            <h3>Test for ne-include tag</h3>
        </script>

        <script type="text/ng-template" id="test.html">
            <input type="checkbox" ng-model="todo.done"  ng-click="remove(todo)"> 
            <span class="done-{{todo.done}}">{{todo.todoText}}</span>
        </script>

        <br>
        <!-- Test for outside source -->
        <!-- <ng-include src="'/templates.html'" ></ng-include> -->
        <ng-include src="'lala.html'" ></ng-include>
        <hr />                
        
        
        <h2>TEST for ng-include and ng-template</h2>        
        <div ng-repeat="todo in notes" ng-if="currentStatus === 'all'">
            <div ng-include="'test.html'" ></div>
            <!-- <input type="checkbox" ng-model="todo.done"  ng-click="remove(todo)"> 
            <span class="done-{{todo.done}}">{{todo.todoText}}</span> -->
        </div>
        
        <div ng-repeat="todo in notes | filter: {status: 'active'}" ng-if="currentStatus === 'active'">
            <div ng-include="'test.html'" ></div>
        </div>
        
        <div ng-repeat="todo in notes | filter: {status:'complete'}" ng-if="currentStatus === 'complete'">
            <div ng-include src="'test.html'" ></div>
        </div>

        <!-- Three link for different status -->
<!--
        <a ng-click="get_all()" href="#/all">All</a>
        <a ng-click="get_active()" href="#/active">Active</a>
        <a ng-click="get_complete()" href="#/complete">Complete</a>
-->
        
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="radioModel" ng-click="get_all()" uib-btn-radio="'Left'">All</label>
            <label class="btn btn-primary" ng-model="radioModel" ng-click="get_active()" uib-btn-radio="'Middle'">Active</label>
            <label class="btn btn-primary" ng-model="radioModel"  ng-click="get_complete()" uib-btn-radio="'Right'">Complete</label>
        </div>
        
        <div class="container">
            <div ng-view></div>
        </div>
    </body>
</html>